<h1>Cities</h1>

<table>
    <tr>
        <th>City Code</th>
        <th>Country Code</th>
        <th>City Name</th>
        <th>Population</th>
        <th>By the Sea</th>
        <th>Area</th>
    </tr>
    <% city.forEach((city)=>
        { %>
        <tr>
            <td>
                <%= city.cty_code %>
            </td>
            <td>
                <%= city.co_code %>
            </td>
            <td>
                <%= city.cty_name %>
            </td>
            <td>
                <%= city.population %>
            </td>
            <td>
                <%= city.isCoastal %>
            </td>
            <td>
                <%= city.areaKM %>
            </td>
        </tr>
        <% }) %>
</table>
<a href="https://localhost:3004">Home</a>